[ca]
default_ca=ca1

[ca1]
new_certs_dir=newcerts
database=db
serial=serial
default_md=sha256
policy=ca1_pol


[ca1_pol]
commonName              = optional
subjectAltName          = optional
organizationName	= optional
organizationalUnitName	= optional
emailAddress		= optional
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
